body
{
    background: url('https://images.unsplash.com/photo-1514625895778-692f4e00ec41?q=80&w=3174&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: 170%;
    display: block;
    overflow-x: hidden;
}
header
{
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: large;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
header h1
{
    grid-column: 2/2;
}
header .links
{
    grid-column: 3/3;
}
header a:hover
{
    opacity: .5;
}
a, a:visited, a:active
{
    text-decoration: none;
    color: black;
}
.cards
{
    position: absolute;
    background-color: rgba(250, 235, 215, 0.376);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.card
{
    position: relative;
    background-color: rgba(0, 255, 255, 0.433);
    height: 100%;
    width: 100%;
    grid-column: 1/1;
    grid-row: 1/1;
}
@media (min-width: 50rem) and (max-width: 80rem) {
    .cards
    {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 80rem) {
    .cards
    {
        grid-template-columns: repeat(3, 1fr);
    }
}